@use "../presets" as *;
@use "../mixins" as *;

*::before,
*::after,
* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  color: $color-gray;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: $color-light;
}
