@use "../presets" as *;
@use "../mixins" as *;

*::before,
*::after,
* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  color: $color-gray;
  font-family: $font-main;
}

h1 {
  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
  font-family: $font-header;
  letter-spacing: 0.078em;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  @include lg-min {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  @include lg-md {
    font-size: 2rem;
    margin-bottom: 2.65rem;
  }
  @include md {
    margin-bottom: 2.25rem;
  }
  @include sm {
    text-align: center;
  }

  color: $color-primary;
  letter-spacing: 0.1em;
  line-height: 1.2;
  font-family: $font-header;
}

h3 {
  color: $color-gray;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: $color-light;
}

p {
  color: $color-gray;
}
